@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #274a5e;
    --secondary-color: #01b5cc;
    --tertiary-color: #f6b130;

    --dark-font: #3c4043;
    --light-font: #efefef;

    --main-font: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
}

body {
    font-family: var(--main-font);
    color: var(--dark-font);
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    header {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 20px;
    }

    header img {
        padding-left: 50px;
        height: 130px;
    }

    header nav {
        position: relative;
        right: 0;
        padding-right: 50px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        width: 50vw;
        height: 100%;
        justify-content: flex-end;
        align-content: center;
    }

    header nav ul li {
        padding: 10px;
    }

    header a {
        text-decoration: none;
        color: var(--dark-font);
    }

    main {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #apresentacao {
        width: 60vw;
        font-size: 26px;
        text-align: justify;
    }

    h1 {
        font-size: 32px;
        font-weight: 600;
        color: var(--secondary-color);
        text-align: center;
    }

    #galeria-fotos {
        width: 100vw;
        height: 300px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    #galeria-fotos img {
        position: relative;
        height: 100%;
        animation: moveLeft 1s forwards;
        padding: 10px;
    }

    #sobre {
        width: 100vw;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: var(--light-font);
        text-indent: 1em;
        text-align: justify;
    }

    #sobre img {
        height: 400px;
    }

    #sobre .texto {
        width: 40vw;
    }

    .contato {
        /* width: 100vw; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0px;
        background-image: url(images/paper-1468883_1280.jpg);
        margin: 60px 20vw;
        border-radius: 15px;
        color: var(--light-font);
        text-indent: 1em;
        text-align: justify;
    }

    div#contato {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    img.icone {
        width: 30px;
    }

    footer {
        background-color: #505050;
    }

    img.logo-rodape {
        height: 200px;
    }

    @keyframes moveLeft {
        from {
            transform: translateX(100vw);
        }

        to {
            transform: translateX(0);
        }
    }
}